/* 
The following colour codes are the most common codes that are used in the application

Green: #1fdf64
Background Grey: #121212
Black: #000000
Footer background: #181818

*/

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;700&display=swap');

body {
  color: white;
  font-family: 'Signika', sans-serif;
}

.content {
  height: 90vh;
}

.sidebar {
  background-color: #000000;
  height: 100vh;
}

.main-content {
  position: relative;
  background-color: black;
}

.footer {
  background: #181818;
  height: 10vh;
  width: 100%;
}

.logo {
  width: 60%;
}

.sidebar a {
  color: #bcab8c;
  margin-top: 2px;
}

.link:hover {
  background-color: #121212;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

.box-link:hover {
  background-color: #121212;
  cursor: pointer;
  border-radius: 3px;
}

.link:hover a {
  color: white;
  text-decoration: none;
}
.box-link:hover a {
  color: white;
  text-decoration: none;
}

.links-container i {
  font-size: 1.2rem;
}

.playlist-box {
  width: 25px;
  height: 25px;
  background-color: grey;
}

.playlist-box i {
  color: black;
  font-size: 0.8rem;
}
.liked-box {
  width: 25px;
  height: 25px;
  background: linear-gradient(
    -45deg,
    rgb(252, 252, 252) 1%,
    rgba(96, 13, 179, 0.873) 50%
  );
}

.playlists {
  overflow-y: none;
  max-height: 35%;
  border-top: 2px solid rgb(76, 72, 72);
  font-weight: 300;
  font-size: 0.9rem;
  color: #bcab8c;
}
.playlists::-webkit-scrollbar-track {
  background: #000000;
}

.playlists::-webkit-scrollbar {
  width: 10px;
}

.playlists::-webkit-scrollbar-thumb {
  background: #888;
}

.playlists::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 0.7rem;
}

.album-cover-footer {
  width: 50px;
  height: 50px;
}

.album-info {
  color: #bcab8c;
  font-size: 0.8rem;
}

.album-info .artist {
  font-weight: 300;
  font-size: 0.7rem;
}

.album-info .song {
  font-weight: 700;
  font-size: 0.9rem;
}

.album-info-icons {
  color: #bcab8c;
  font-weight: 300;
  font-size: 0.8rem;
}

.player-controls {
  width: 35%;
}

.player-controls .circle {
  width: 30px;
  height: 30px;
  background-color: white;
  color: black;
}

.song-duration {
  color: #bcab8c;
  font-size: 0.7rem;
}

.playtime {
  height: 3px;
  width: 70vh;
  background-color: gray;
  border-radius: 2px;
}

.footer-right-icons i {
  margin-right: 15px;
  font-size: 0.8rem;
  color: #bcab8c;
}

.top-content-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.volume-bar {
  width: 10vh;
  height: 3px;
  background-color: rgb(205, 201, 201);
  border-radius: 2px;
}
.footer {
  position: fixed;
  width: 100%;
}

.user-menu {
  width: 22vh;
  height: 4vh;
  background-color: #000000;
  border-radius: 20px;
}

.user-image {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 5px;
}

.user-menu span {
  font-size: 0.8rem;
}

.user-menu i {
  font-size: 0.8rem;
  margin-left: 8px;
  margin-top: -2px;
}

.nav-circle {
  background-color: #000000df;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.nav-circle-inactive {
  background-color: #302a2adf;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.artist-info {
  height: 30vh;
  position: relative;
  color: white;
  opacity: 100%;
}

.banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 45vh;
  z-index: 0;
  opacity: 50%;
}

.verified {
  font-size: 0.8rem;
}
.listeners {
  font-size: 0.8rem;
  font-weight: 300;
}

.tick {
  width: 15px;
  height: 15px;
}
.artist {
  font-size: 3rem;
  font-weight: 700;
}

.artist-container {
  position: relative;
  width: 100%;
  height: 55vh;
  background: rgb(62, 62, 62);
  background: linear-gradient(
    180deg,
    rgba(62, 62, 62, 0.9783263647255778) 0%,
    rgba(0, 0, 0, 1) 35%
  );
}

.green-circle {
  width: 40px;
  height: 40px;
  background-color: #1fdf64;
  border-radius: 50%;
}

#album-cover-album {
  -webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.66);
  box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.66);
  object-fit: contain;
}

#background-container-album {
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 50%,
    rgba(191, 206, 175, 1) 100%
  );
}

#main-container-album {
  background-color: rgba(18, 18, 18, 0.4);
}

.tracklist-album {
  background-color: transparent;
}

/* #tracklist-table-album {
   z-index: 1; 
   opacity: 1; 
}  */
