/* 
The following colour codes are the most common codes that are used in the application

Green: #1fdf64
Background Grey: #121212
Black: #000000
Footer background: #181818

*/

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;700&display=swap');

body {
  color: white;
  font-family: 'Signika', sans-serif;
}

.content {
  height: 90vh;
}

.sidebar {
  background-color: #000000;
}

.main-content {
  background-color: #121212;
}

.footer {
  background: #181818;
  height: 10vh;
}

.logo {
  width: 60%;
}

.sidebar a {
  color: #bcab8c;
  margin-top: 2px;
}

.link:hover {
  background-color: #121212;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

.box-link:hover {
  background-color: #121212;
  cursor: pointer;
  border-radius: 3px;
}

.link:hover a {
  color: white;
  text-decoration: none;
}
.box-link:hover a {
  color: white;
  text-decoration: none;
}

.links-container i {
  font-size: 1.2rem;
}

.playlist-box {
  width: 25px;
  height: 25px;
  background-color: grey;
}

.playlist-box i {
  color: black;
  font-size: 0.8rem;
}
.liked-box {
  width: 25px;
  height: 25px;
  background: linear-gradient(
    -45deg,
    rgb(252, 252, 252) 1%,
    rgba(96, 13, 179, 0.873) 50%
  );
}

.playlists {
  overflow-y: none;
  max-height: 300px;
  border-top: 2px solid rgb(76, 72, 72);
  font-weight: 300;
  font-size: 0.9rem;
  color: #bcab8c;
}
.playlists::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.playlists::-webkit-scrollbar {
  width: 10px;
}

.playlists::-webkit-scrollbar-thumb {
  background: #888;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  font-size: 0.7rem;
}
